{erl_opts, [
    {parse_transform, lager_transform},
    warn_missing_spec,
    warn_export_vars,
    warn_unused_import
]}.

%% the plugin itself
{project_plugins, [rebar3_proper]}.
%% The PropEr dependency is still required to compile the test cases, %% but only as a test dependency
{profiles,
    [{test, [
        {erl_opts, [
            nowarn_export_all,
            nowarn_missing_spec,
            nowarn_unused_function
        ]},
        {deps, [proper]}
]} ]}.

{deps, [
    {jsx, "3.1.0"},
    {lager, "3.9.1"}
]}.
